# from medium.com/markitosanches, with NEURAL NETWORK KERAS TENSERFLOW

In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("housepricedata.csv");
data

,LotArea,OverallQual,OverallCond,TotalBsmtSF,FullBath,HalfBath,BedroomAbvGr,TotRmsAbvGrd,Fireplaces,GarageArea,AboveMedianPrice
0,8450,7,5,856,2,1,3,8,0,548,1
1,9600,6,8,1262,2,0,3,6,1,460,1
2,11250,7,5,920,2,1,3,6,1,608,1
3,9550,7,5,756,1,0,3,7,1,642,0
4,14260,8,5,1145,2,1,4,9,1,836,1
...,...,...,...,...,...,...,...,...,...,...,...
1455,7917,6,5,953,2,1,3,7,1,460,1
1456,13175,6,6,1542,2,0,3,7,2,500,1
1457,9042,7,9,1152,2,0,4,9,2,252,1
1458,9717,5,6,1078,1,0,2,5,0,240,0
1459,9937,5,6,1256,1,1,3,6,0,276,0

# the last column is the feature that we would like to predict 
# -> is the house price above the median or not?(1 for yes and 0 for no)

# machine learning model process vectors, so it is necessary to convert the data into a array

In [9]:
dataset = data.values
dataset # this is how the output look like

array([[ 8450,     7,     5, ...,     0,   548,     1],
       [ 9600,     6,     8, ...,     1,   460,     1],
       [11250,     7,     5, ...,     1,   608,     1],
       ...,
       [ 9042,     7,     9, ...,     2,   252,     1],
       [ 9717,     5,     6, ...,     0,   240,     0],
       [ 9937,     5,     6, ...,     0,   276,     0]], dtype=int64)

# In next step is to split the data into input resources "X" and the resource to be predicted "y"
# "X" would be columns 1 to 10, while "y" would be columns 11.

In [20]:
X = dataset[:,0:10]
X.shape

(1460, 10)

In [21]:
Y = dataset[:,10]
Y.shape

(1460,)

# Normalizing the data set.
# The idea of normalization is to adjust measured values at different,scales to a common nominal scale,
# usually before average. One way to scale the data is to use an existing scikit-learn package.
# We will use a function called min-max scaler, which scales the dataset so that all the input resources are between 0 and 1.

In [23]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
X_scale = min_max_scaler.fit_transform(X)

[[0.0334198  0.66666667 0.5        ... 0.5        0.         0.3864598 ]
 [0.03879502 0.55555556 0.875      ... 0.33333333 0.33333333 0.32440056]
 [0.04650728 0.66666667 0.5        ... 0.33333333 0.33333333 0.42877292]
 ...
 [0.03618687 0.66666667 1.         ... 0.58333333 0.66666667 0.17771509]
 [0.03934189 0.44444444 0.625      ... 0.25       0.         0.16925247]
 [0.04037019 0.44444444 0.625      ... 0.33333333 0.         0.19464034]]

#  New we need to split data for training, testing and validation.
# In scikit-learn, we will import the train_test_split function to do this.
# The test size will be 30% and from the test size we will use 50% as validation.
# This mean train size will be 70%, the test size 15% and validation size 15%

In [26]:
from sklearn.model_selection import train_test_split

In [33]:
# train and test set (30%)

X_train, X_val_and_test, Y_train, Y_val_and_test = train_test_split(X_scale, Y, test_size=0.3)

# validation test (50% of test set)
X_val, X_test, Y_val, Y_test = train_test_split(X_val_and_test, Y_val_and_test, test_size=0.5)

# Building a Neural Network

# the first step in building a neural network is to define the architecture.